.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 300px;
  color: white;
  text-align: center;
}

.name{
  font-size: 300%;
}

.role {
  font-size: 200%;
  padding: 10px 0px 70px 0px;
}

.about-me {
  max-width: 170px;
  padding: 5px;
  font-size: 170%;
  font-weight: 600;
  border: 10px solid black;
}